:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --primary-white-color: #FFFFFF;;
    --primary-blue-color: #4D5AE5;
    --hover-focus-color:  #404BBF;
    --background-color-black: #2E2F42;
    --background-color-white: #F4F4FD;
}



body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

h1,h2,h3,h4,ul,p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {

    width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

}

.container-text {
    padding: 32px 16px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
}


.logo-link {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
color: var( --primary-blue-color);
letter-spacing: 0.03em;
text-transform: uppercase;

}

.main-container{
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.page-nav{
    display: flex;
    align-items: center;
}
.studio {
    color:var(--title-text-color);
    
}
.menu {
    display: flex;
    margin-left: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-item {
    margin-right: 40px;
}
.menu-item:last-child{
    margin-right: 0px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--hover-focus-color);
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

}

.contact-adress {
    font-style: normal;
    margin-left: auto;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--hover-focus-color);
}

.contact-list {
    display: flex;
    }
.contact-list .item + .item {
    margin-left: 40px;
}


.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    font-style: normal;
   

}

.container-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--background-color-black);
    
}
.hero {
    
    text-align: center;
    
    
    
}
.hero-text {
    margin-left: 314px;
    margin-right: 314px;
    margin-bottom: 48px;
    
    

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
   
}
.modal-btn {
    border-radius: 4px;
    padding: 16px 32px;
    border: 1px solid transparent;
    

    font-family: "Roboto", sans-serif ;
    color:var(--primary-white-color);
    background:var(--primary-blue-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.portfolio-cont {

    margin-bottom: 95px

}






.rules-list {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.item-rules {
    margin-right: 24px;

}
.item-rules:last-child {
    margin-right: 0px;
}





.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.service-text {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var( --title-text-color);
}
.section-description{
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    }

.subtitle {
    margin-bottom: 72px;


    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var( --title-text-color);
}

.what-are-doing {
    display: flex;
    margin-bottom: 104px;
    padding-left: 0px;
}

.item_what {
    margin-right: 24px;

}
.item_what:last-child {
    margin-right: 0px; 
}

.cont-ourteam {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--background-color-white);
}


.list-team {
    display: flex;
    padding-left: 0px;

}

.item-team {
    margin-right: 24px;
    border: 0px solid #ffffff;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;

}
.item-team:last-child {
    margin-right: 0px;
}



    

.container-footer{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 880px;
    background-color:  var(--background-color-black);
   
}
.section-footer{
    margin-top: 16px;
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    
    

    }
.studio-footer{
   color: var(--background-color-white); 
}


.btn-portfolio:hover,
.btn-portfolio:focus {
    background: var(--hover-focus-color);
    color: var(--primary-white-color);
}

.btn-portfolio {
    
    padding: 12px 24px;

    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:  var(--primary-blue-color);
       
   
}

.btn-port {
    margin-bottom: 72px;
}

.list-porfolio {
    display: flex;
    gap: 24px;
    justify-content: center;
}



.list-foto-porfol {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.gallery {
    
    

    margin-right: 24px;
    margin-bottom: 30px;

}

.jpg-port{
    display: block;
   
}
.foto-team {
    display: block;
}
    

.gallery:nth-child(3n) {
    margin-right: 0;
}
.gallery:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.text-portf {
    border: 1px solid #E7E9FC;
    border-top: 0;

    padding: 32px;
    padding-left: 16px;
    
}

.container-port {
    margin-bottom: 120px;
}

